:root{
    font-size: 10px;
    background-color:rgb(22, 185, 230) ;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

header {
    background-color: greenyellow;
    color: white;
    padding
}

h1{
    color: rgb(29, 5, 15);
    background-color: rgb(98, 244, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px rgb(18, 4, 4);
    font-size: 4em;
    height: 100px;
    width: 500px;

    }  

    .caja{
    background-color: rgb(22, 97, 182);
    height: 200px;
    width: 500px;
    }

    @media screen and (max-width: 250px){
        h1{
            color: rgb(47, 19, 174);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }   
        .caja {
            width: 300px;
            background-color: rgb(240, 52, 124);
        }
    }

    @media screen and (min-width: 200px){
        h1{
            color: rgb(21, 30, 21);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .caja{
            width: 1000px;
        }
    }